* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f2f2;
}

input {
    outline: none;
}

.wrap {
    width: 100%;
    height: 50px;
    padding: 15px 0 5px 0;
    background-color: #e0e0e0;
}

.logo {
    width: 1200px;
    height: 50px;
    margin: 0px auto;
    background: url(https://login.yiguo.com/Content/img/themes/logo.png) no-repeat;
    position: relative;
}

.logo span {
    font-size: 28px;
    color: #008842;
    position: absolute;
    left: 240px;
}

.one {
    position: absolute;
    left: 1170px;
    top: 100px;
}

.one a {
    color: orange;
    text-decoration: none;
}

.bodyer {
    width: 1200px;
    height: 542px;
    border: 1px solid #a5c9b6;
    border-top: none;
    margin: 20px auto;
    background-color: #fff;
    padding: 40px 0 50px 0;
    display: flex;
    justify-content: space-between;
}

.left {
    width: 574px;
    height: 542px;
}

.left p {
    margin-bottom: 29px;
    font-size: 15px;
}

.same {
    display: inline-block;
    width: 200px;
    padding-right: 20px;
    text-align: right;
}

.imgyz {
    border: 1px solid #c1c1c1;
    height: 38px;
    vertical-align: middle;
    padding-left: 14px;
}

.picyz img {
    vertical-align: middle;
}

.phonenum {
    border: 1px solid #c1c1c1;
    width: 290px;
    height: 38px;
    vertical-align: middle;
    padding-left: 14px;
}

.phoneyz {
    border: 1px solid #c1c1c1;
    height: 38px;
    vertical-align: middle;
    padding-left: 14px;
}

.password {
    border: 1px solid #c1c1c1;
    width: 290px;
    height: 38px;
    vertical-align: middle;
    padding-left: 14px;
}

.onpassword {
    border: 1px solid #c1c1c1;
    width: 290px;
    height: 38px;
    vertical-align: middle;
    padding-left: 14px;
}

.invite {
    border: 1px solid #c1c1c1;
    width: 290px;
    height: 38px;
    vertical-align: middle;
    padding-left: 14px;
}

.last_p {
    display: flex;
    justify-content: flex-end;
}

.last_p a {
    text-decoration: none;
    color: forestgreen;
}

.last_a {
    display: inline-block;
    text-decoration: none;
    width: 306px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    background-color: grey;
    line-height: 50px;
    color: #fff;
    margin-left: 225px;
}

.right {
    border-left: 1px #e0e0e0 dashed;
}

.right img {
    padding-top: 50px;
}